- @title = @post.title
#show
  .post
    .title= @post.title
    .date= time_ago_in_words(@post.created_at || Time.now) + '以前'
    .body= simple_format(@post.body)    
%p= link_to '显式全部博文', url_for(:posts, :index)